<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <timestamp key="bySecond" datePattern="yyyyMMddHH" />

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <prudent>true</prudent>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/%d{yyyy-MM-dd}.log
      </fileNamePattern>
      <maxHistory>72</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>[[%d{yyyy-MM-dd HH:mm:ss.SSS}]] - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[[%logger{15}]] - %message%n%xException{5}</pattern>
    </encoder>
  </appender>

  <appender name="Stats" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <prudent>true</prudent>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/stats-%d{yyyy-MM-dd}.log
      </fileNamePattern>
    </rollingPolicy>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <logger name="example" level="DEBUG" />

  <logger name="example.controller" level="DEBUG" additivity="false">
    <appender-ref ref="Stats" />
  </logger>

	<!-- Off these ones as they are annoying, and anyway we manage configuration 
		ourself -->
  <logger name="com.avaje.ebean.config.PropertyMapLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="OFF" />
  <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>

</configuration>